*.swp
*.pyc
*.pkl
*.py~
.pytest_cache
.DS_Store
.idea

# Setuptools distribution and build folders.
/dist/
/build
keys/

# Virtualenv
/env

shadow-hand-venv

!shadow-hand-venv/
shadow-hand-venv/*

!shadow-hand-venv/lib/
shadow-hand-venv/lib/*

!shadow-hand-venv/lib/python3.6/
shadow-hand-venv/lib/python3.6/*

!shadow-hand-venv/lib/python3.6/site-packages/
shadow-hand-venv/lib/python3.6/site-packages/*

!shadow-hand-venv/lib/python3.6/site-packages/gym/
shadow-hand-venv/lib/python3.6/site-packages/gym/*

!shadow-hand-venv/lib/python3.6/site-packages/gym/envs/


*.sublime-project
*.sublime-workspace

.idea

logs/

.ipynb_checkpoints
ghostdriver.log

htmlcov

junk
src

*.egg-info
.cache

MUJOCO_LOG.TXT
